<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Introduction</title>
        <link rel="stylesheet" href="/css/stylesheet1.css">
    </head>
    <body>
        <header>
            <div class="header-left">
                <a href="/" class="homebtn">My Page</a>
            </div>
        </header>
        <div class="top-wrapper">
            <div class="container">
                <h1>My Introduction</h1>
                <p>はじめまして!!</p>
                <div class="btn-wrapper">
                    <a href="https://www.instagram.com/chutake.exe/" class="btn instagram">
                        <img class="instagram-logo" src="/img/instagram.png">
                        <br>instagram</a>
                    <a href="https://qiita.com/chutake_exe" class="btn qiita">
                        <img class="qiita-logo" src="/img/qiita.jpeg">
                        <br>Qiita</a>
                </div>
            </div>
        </div>
        <div class="middle-wrapper">
            <div class="container">    
                <div class="introduction-wrapper">
                    <h2>Introduction</h2>
                    <p>
                        名前：中郡健竜（ちゅうぐんたける）<br>
                        ニックネーム：ちゅーたけ
                    </p>
                    <h2>Comment</h2>
                    <p>
                        時間は必ず守るタイプです。今を謳歌したい派です。<br>
                        好きな食べ物はヤンニョムチキンです。
                        Tinderで会えません。
                    </p>
                    <h2>Basedata</h2>
                    <p>
                        誕生日 : 2001.11.12<br>
                        性別 : 男<br>
                        趣味 : テーブルゲーム、スノボー、サッカー<br>
                        特技 : 地道に努力すること
                    </p>
                    <h2>Career</h2>
                    <p>
                        現在 : 大学3年生<br>
                        取得した資格 : 基本情報技術者資格（FE）、普通自動車運転免許
                        プログラミング言語 : Python、C++、Java、HTML、CSS、SQL
                    </p>
                    <h2>勉強していること</h2>
                    <p>
                        Web系に興味をもち、progateの力を借りながら
                        HTML、CSS、SQL、Node.jsを勉強中。<br>
                        サーバーサイドエンジニアになりたくて独学を始めました。<br>
                    </p>
                    <div class="btn link">
                        <a href="/hello" class="btn">####</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="under-wrapper">
            <div class="container">
                <div class="comment-wrapper">
                    <h4>コメントを残してみましょう！</h4>
                    なんでもいいです。あなたが思ったことを文字にしてみましょう。
                    <form action="/create" method="post">
                        <p>ニックネーム：</p>
                        <input type="nickname"><br>
                        <p>感想：</p>
                        <textarea name="opinion" cols="30" rows="10"></textarea>
                        <input type="submit" value="コメントする">
                    </form>
                </div>
            </div>
        </div>
        <footer>
            <p class="mail">
                Mail : takeru.chugun.3r@stu.hosei.ac.jp<br>
                Thank you!!
            </p>
        </footer>
    </body>
</html>