<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>My Introduction</title>
        <link rel="stylesheet" href="/css/stylesheet2.css">
    </head>
    <body>
        <header>
            <p class="Title">My page</p>
            <div class="headerlist">
                <ul>
                    <li><a href="/" class="btn topbtn">Top</a></li>
                    <li><a href="/works" class="btn topbtn">Works</a></li>
                    <li><a href="/inquiry" class="btn topbtn">お問い合わせ</a></li>
                </ul>
            </div>
        </header>
        <div class="top-wrapper">
            <div class="container">
                <h1>works</h1>
            </div>
        </div>
        <div class="middle-wrapper">
            <div class="container">
                <div class="discription">
                    <ul>
                        <li>
                            <h2><br><br>GUIプログラミング(Java)</h2>
                            <br><br>
                            <img src="/img/success.png">
                            <p>
                                登録用のサイトを想定したウィンドウを作成しました。<br>
                                名前、パスワード、メールアドレス、性別、生年月日、趣味、自由記入欄を設けた。<br>
                                必須事項は名前、パスワード、メールアドレス、性別、生年月日。<br>
                                これらのフィールドになにもアクションをせずに登録ボタンを押しても、
                                登録完了ならない<br><br><br>
                            </p>
                        </li>
                        <li>
                            <h2>エージェントシミュレーション(python)</h2>
                            <br><br>
                            <img src="/img/simulation.png" class="simulation_img">
                            <p>
                                コンビニの店内をシミュレーションしました。<br>
                                ＜流れ＞<br>
                                客はそれぞれの色によって欲しいものが異なり、1フレームに1回移動する。<br>
                                目標の商品のマスについたらレジで会計をし、店を出る。<br>
                                ＜結果＞<br>
                                事前に決めた客を入店させ、
                                一通り買い物が終わったら移動回数などを出力し、
                                統計的に分析した<br>
                            </p>
                        </li>
                        <li>
                            <h2><br><br>手書き数字認識(pythonのscikit-learnライブラリ)</h2>
                            <img src="/img/手書き問題.png" class="number_img">
                            <br><br>
                            <p>
                                手書き数字を4つ用意し、機械学習で学習したデータセットを用いて正しく認識できるかを確認する。<br>
                                <br><br>
                            </p>
                            <img src="/img/手書き結論.png" class="numcon_img">
                            <br><br>
                            <p>
                                結果は図3と図4が正しく認識された。<br><br>
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </body>
</html>